data

In [19]:
import os
import geopandas as gpd

data_folder = './data'
all_data = {}

for filename in os.listdir(data_folder):
    if filename.endswith('.gpkg'):
        file_path = os.path.join(data_folder, filename)
        try:
            data = gpd.read_file(file_path)
            filename_without_ext = os.path.splitext(filename)[0]
            cleaned_filename = filename_without_ext.replace('network', '').replace('[', '').replace(']', '').replace('\'', '')
            all_data[cleaned_filename] = data
        except Exception as e:
            print(f"Failed to read file {file_path}: {e}")

In [21]:
all_data['Oakland, California, USA']

,osmid,y,x,highway,street_count,ref,geometry
0,30362160,37.824005,-122.303118,motorway_junction,3,,POINT (-122.30312 37.82400)
1,30362888,37.825844,-122.303049,motorway_junction,3,8A,POINT (-122.30305 37.82584)
2,30363957,37.825477,-122.307034,,3,,POINT (-122.30703 37.82548)
3,30364093,37.825462,-122.307568,,3,,POINT (-122.30757 37.82546)
4,30364111,37.823569,-122.302980,,3,,POINT (-122.30298 37.82357)
...,...,...,...,...,...,...,...
8406,11664972894,37.741744,-122.157523,,3,,POINT (-122.15752 37.74174)
8407,11665077284,37.767733,-122.184485,,3,,POINT (-122.18448 37.76773)
8408,11665077288,37.767724,-122.184406,,3,,POINT (-122.18441 37.76772)
8409,11665077292,37.767664,-122.184416,,3,,POINT (-122.18442 37.76766)
8410,11665077296,37.767669,-122.184492,,3,,POINT (-122.18449 37.76767)

DictData

In [18]:
import os
import pickle

data_folder = './dictData'
all_data = {}

for filename in os.listdir(data_folder):
    if filename.endswith('.pickle'):
        file_path = os.path.join(data_folder, filename)
        try:
            with open(file_path, 'rb') as handle:
                data = pickle.load(handle)["['San Francisco, California, USA']"]
                filename_without_ext = os.path.splitext(filename)[0]
                cleaned_filename = filename_without_ext.replace('[', '').replace(']', '').replace('\'', '')
                all_data[cleaned_filename] = data
        except Exception as e:
            print(f"Failed to read file {file_path}: {e}")

In [19]:
all_data['San Francisco, California, USA'].keys()

dict_keys(['graph', 'basic_stats', 'gdf_nodes', 'gdf_edges'])

In [25]:
all_data.keys()

all_data['San Francisco, California, USA'].keys()

all_data['San Francisco, California, USA']

,y,x,street_count,ref,highway,geometry
osmid,,,,,,
32927563,37.785952,-122.390985,3,NaN,NaN,POINT (-122.39099 37.78595)
32927591,37.731353,-122.424124,3,53,motorway_junction,POINT (-122.42412 37.73135)
32927645,37.732706,-122.413261,3,54B,motorway_junction,POINT (-122.41326 37.73271)
33241803,37.805042,-122.403450,5,NaN,traffic_signals,POINT (-122.40345 37.80504)
33242031,37.799054,-122.416484,1,NaN,NaN,POINT (-122.41648 37.79905)
...,...,...,...,...,...,...
11491201770,37.766529,-122.428929,1,NaN,NaN,POINT (-122.42893 37.76653)
11586185528,37.821228,-122.369385,1,NaN,NaN,POINT (-122.36939 37.82123)
11612881875,37.818013,-122.372838,1,NaN,NaN,POINT (-122.37284 37.81801)
11644724907,37.824050,-122.365483,1,NaN,NaN,POINT (-122.36548 37.82405)
11644726181,37.821176,-122.369351,1,NaN,NaN,POINT (-122.36935 37.82118)